body{
    background-color: #eeeeee;
    font-family: Arial;
}

h1{
    font-weight: normal;
    color: #297fb8;
    display: inline-block;
    margin-left: 60px;
}

.logo{
	background-image: url(../images/product-common-sprite.png);
    background-position: 0 0;
    width: 67px;
    height: 25px;
    display: inline-block;
    margin-left: 65px;
}

ul{
    list-style-type: none;
    display: inline-block;
    float: left;
}

.menu_header{
    background-color: #297fb8;
    color: white;
    border-radius: 3px 3px 0 0;
    width: 129px;
    padding: 3px;
}

.menu_a_block{
    background-color: white;
    border-radius: 0 0 3px 3px;
    margin-bottom: 10px;
    width: 135px;
}

.menu_a{
    padding: 5px 0 5px 10px;
}

a{
    color: #7f8999;
    text-decoration: none;
}

.menu_a:hover{
    background: #90b1de;
}

.form{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #e1e1e1;
    width: 700px;
    background-color: white;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px 15px 20px 15px;
}

.label_header{
    color: #297fb8;
    font-size: 18px;
}

.fieldset_border{
    border-color: red;
    border-radius: 15px;
    margin: 15px 0 5px 0;
}

.legeng_header{
    color: #7f8999;
}

p{
    padding-left: 30px;
}

.labels_inContact{
    display: inline-block;
    margin: 0 200px 5px 0;
}

.inputs_inContact{
    display: inline-block;
    margin-right: 72px;
}

.labels_inPersonDet{
    margin: 0 105px 0 0;
}

.labels_inPersonDet_bottom{
    margin: 0 340px 0 0;
}

.inputs_inPersonDetDate{
    margin: 5px 0 0 0;
}

.inputs_inPersonDetSelect{
    height: 20px;
    margin: 10px 90px 0 50px;
}

.textarea{
    margin: 5px 0 0 0;
    width: 200px;
    height: 100px;
    resize: none;
}

.input_inPersonDetColor{
    margin-left: 125px;
}

.inputs_inPersonDetCheckbox{
    margin-right: 10px;
}

.button{
    width: 75px;
    height: 25px;
    margin-left: 10px;
    font-size: 14px;
    background-color: #297fb8;
    border: 0px solid #297fb8;
    border-radius: 3px;
    color: white;
}
